
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 290px;
}
.japon {
    background: red;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 5px;
}

/*
.japon {
    background: red;
    border-radius: 50%;
    width:200px;
    height:200;
    position:absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}
    */
 
    