#div {
    border: 2px solid black;
}
#div > div {
    padding: 20px;
    
}
#div1 {
    font-size: x-large;
    text-align: center;
    background-color: lightblue;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#div2 {
    background-color: lightgray;    
    margin-left: 10px;
    margin-right: 10px;
}
#div3 {
    text-align: center;
    background-color: lightcoral;
    margin-bottom   : 10px;
    margin-left: 10px;
    margin-right: 10px;
}